<BottomNavigation>
    <TabStrip iosIconRenderingMode="alwaysOriginal">

        <TabStripItem>
            <Label text="Players Tab"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Teams Tab"></Label>
            <Image src="font://&#xf0c0;" class="fas t-36"></Image>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="playerTab" actionBarVisibility="never"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="teamTab" actionBarVisibility="never"></page-router-outlet>
    </TabContentItem>

</BottomNavigation>
